<div class="contain">
	<div class="header">
		<%= image_tag("title.png", class: "title") %>
	</div>
	<div class="movie">
<iframe id="player" width="100%" height="210" src="https://www.youtube.com/embed/8X6nCG95J1Y?enablejsapi=1&playerapiid=player1" frameborder="0" allowfullscreen class="video"></iframe>
	</div>
	<div class="thumb clearfix">
		<%= link_to image_tag("thumb_01.png", class: "youtube_thumb_img"), 'http://youtu.be/uSelGxiqklE', target:"_blank", class:"t_01", id:"youtube_link_1" %>
		<%= link_to image_tag("thumb_02.png", class: "youtube_thumb_img"), 'http://youtu.be/s1TC7YKHcoI', target:"_blank", class:"t_02", id:"youtube_link_2" %>
		<%= link_to image_tag("thumb_03.png", class: "youtube_thumb_img"), 'http://www.youtube.com/watch?v=r4xMS0GShSU', target:"_blank", class:"t_03", id:"youtube_link_3" %>
	</div>
	<div class="img">
		<%= image_tag("kdc_img.png", class:"kdc_img") %>
	</div>  
</div>
<div class="outlink">
	<div class="inner clearfix">
		<%= link_to image_tag("btn_buy.png", class: "btn_buy_img"), 'http://m.shop.naver.com/lgcaremall/products/220385010', target:"_blank", class:"t_01", id:"purchase_share_link"  %>
		<%= link_to image_tag("btn_kt.png", class: "btn_kt_img"), '#', target:"_blank", class:"t_02", id:"kakaotalk_share_link"  %>
		<%= link_to image_tag("btn_ks.png", class: "btn_ks_img"), '#', target:"_blank", class:"t_03", id:"kakaostory_share_link"  %>
	</div>
</div>
