    <div class="contain">
      <div class="header"> <!-- Header -->
        <%= image_tag("pc/logo.png", class: "header_logo") %>
        <%= image_tag("pc/term.png", class: "header_term") %>
      </div>
      <div class="content"> <!-- Content -->
        <div class="c_title">
		        <%= image_tag("pc/title.png", class: "content_title") %>
        </div>
		    <div class="btn_event">
		      <%= link_to "#", id: "gift_button" do %>
            <%= image_tag "pc/button.png" %>
          <% end %>
        </div>
	      <div class="label_2">
          <%= image_tag "pc/label_2.png" %>
        </div>
		      <div class="share">
            <%= image_tag("pc/share_facebook.png", class: "share_icon_f") %>
            <%= image_tag("pc/share_twitter.png", class: "share_icon_t") %>
        </div>
      </div>
      <div class="video"> <!-- Video -->
        <div class="video_labelarea">
		      <%= image_tag("pc/vedio_label.png", class: "video_label") %>
          <%= link_to "#", id: "product_button" do %>
            <%= image_tag("pc/vedio_button.png", class: "video_button") %>
          <% end %>
		    </div>
          <iframe class="youtube_iframe" width="640" height="390" src="//www.youtube.com/embed/Me7WtXxBmIY" frameborder="0" allowfullscreen></iframe>
        </div>
        <!-- popup -->
        <div id="popup_info">
          <div>
            <%= link_to "#", class: "b-close" do %>
              <%= image_tag("pc/popup/close.png", class: "close") %>
            <% end %>
          </div>
          <%= form_for([:pc, @user], remote: true, html: {'data-type'=>'json'}) do |f| %>
          <div class="info_birth">
            <%= select_year(Date.today, {start_year: 1900, end_year: 2014}, {name:'user[birthday_year]', class:'select_custom_1'})%>
            <%= image_tag("pc/popup/info/birth_label_1.png", class:"birth_label_class") %>
            <%= select_tag "user[birthday_month]", options_for_select([ "3", "4" ], "3"), {class: 'select_custom_2'}%>
            <%= image_tag("pc/popup/info/birth_label_2.png", class:"birth_label_class") %>
            <%= select_day(Date.today, {start_day: 1, end_day: 31}, {name:'user[birthday_day]', class: 'select_custom_2'})%>
            <%= image_tag("pc/popup/info/birth_label_3.png", class:"birth_label_class") %><br /><br />
            <%= image_tag("pc/popup/info/birth_label_4.png") %>
          </div>
          <div class="info_other">
            <div> <%= image_tag("pc/popup/info/info_label_1.png", class:"info_input_label_1") %>
              <input type='text' data-name='name' id='info_name' name='user[name]' class="info_input_name" value="" maxlength="4" /></div>
            <div> <%= image_tag("pc/popup/info/info_label_2.png", class:"info_input_label_2") %>
              <input type='text' data-name='phone' id='info_phone' name='user[phone]' class="info_input_call" value="" maxlength="11" /></div>
            <%= image_tag("pc/popup/info/info_label_3.png", class:"info_input_label_3") %>
            <%= f.check_box "agree", {"data-name" => "agree", id:"info_input_radio", checked:"checked"}%>
            <%= link_to "#", class:"popup_info_to_personal", id: "popup_info_to_personal" do %>
              <%= image_tag("pc/popup/info/info_personal_button.png", class: "to_personal") %>
            <% end %><br /><br />
          </div>
            <%= image_submit_tag("pc/popup/info/button.png",{id: "info_fin", onclick: "validateCheckbox();"}) %>
            <br /><br /><br />

          <%end%>
        </div>
      <div id="popup_personal">
        <%= link_to "#", class: "b-close-2" do %>
          <%= image_tag("pc/popup/close.png", class: "close") %>
        <% end %><br /><br />
        <textarea class="personal_caution" disabled>
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup이용약관 입력 popup
        </textarea>
      </div>
      <div id="popup_fin1">
        <%= link_to "#", class: "b-close" do %>
          <%= image_tag("pc/popup/close.png", class: "close") %>
        <% end %><br /><br /><br />
        <%= image_tag("pc/popup/fin1/title.png") %><br /><br />
        <%= image_tag("pc/popup/fin1/label.png") %><br /><br />
        <%= link_to "#", class: "b-close" do %>
          <%= image_tag("pc/popup/fin1/button.png") %>
        <% end %>
      </div>
      <div id="popup_fin2">
        <%= link_to "#", class: "b-close" do %>
          <%= image_tag("pc/popup/close.png", class: "close") %>
        <% end %><br /><br /><br />
        <%= image_tag("pc/popup/fin2/title.png") %><br /><br />
        <%= image_tag("pc/popup/fin2/label.png") %><br /><br />
        <%= link_to "#", class: "b-close" do %>
          <%= image_tag("pc/popup/fin2/button.png") %>
        <% end %>
      </div>
      <div id="popup_product">
        <%= link_to "#", class: "b-close" do %>
          <%= image_tag("pc/popup/close.png", class: "close") %>
        <% end %>
      </div>
    </div>
<div class="footer_custom"> <!-- Caution -->
  <%= image_tag "pc/caution.png" %>
</div>
