<div class="row-fluid">
  <!-- block -->
  <div class="block">
    <div class="navbar navbar-inner block-header">
      <div class="muted pull-left">쿠폰 사용자 목록</div>
    </div>
		<p class="user_total">총 사용자 <%= User.count %>중 <%= Coupon.used.count %>명</p>
    <div class="row-fluid block-content collapse in">
      <div class="span3 ">
      <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered daily-used-coupon">
        <thead>
          <tr>
            <th>날짜</th>
            <th>쿠폰사용건수</th>
          </tr>
        </thead>
        <tbody>
           <% @coupon_used_counts.each do |c| %>
           <tr>
            <td>
             <span><%=c.used_date%></span>  
            </td> 
            <td>
             <span><%=c.used_count%></span>  
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    <div class="span8">
        <%= paginate @coupon_used_users %>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="data-table">
          <thead>
            <tr>
              <th>ID</th>
              <th class="name">참여자</th>
              <th>전화번호</th>
              <th>사용일시</th>
            </tr>
          </thead>
          <tbody>
            <% @coupon_used_users.each do |user| %>
              <tr class="">
                <td>
                  <%= user.id %>
                </td>
                <td>
                  <%= user.name %>
                </td>
                <td>
                  <%= user.phone unless user.phone.nil? %>
                </td>
                <td class="updated_at">
                  <p><%= user.coupon.updated_at.strftime("%m.%d %H:%M") %></p>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @coupon_used_users %>
      </div>
    </div>
  </div>
  <!-- /block -->
</div>
